	@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');



* {
	margin : 0;
	padding : 0;
	font-family: Kode Mono, sans-serif;
}
body {
	height : 100vh;
}

.container {
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	height : 100%;
	gap : 20px;
}
#qrcode {
	border : 1px solid #333;
	padding : 10px;
}

#text {
	font-size :2em;
	padding : 5px;
	
}
#btn-generate {
	font-size : 1.5em;
	padding : 10px;
	border-radius : 5px;
}

#main-menu {
	font-size: 1.5em;
	padding : 10px;
	border-radius : 5px;
}
