	@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


body {
		font-family: Kode Mono, sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		margin: 0;
		background-color: #f0f0f0;
}
#reader {
		width: 300px;
		height: 225px;
		border: 1px solid black;
		height: auto;
}


#result {
		font-size: 1.2em;
		border-radius : 10px;
		padding : 10px; 
		background: #CCC;
}
#div-risultato {
	display : flex;
	justify-content : center;
	align-items : center;
}

#btnReturn {
	margin-top: 20px;
	font-size : 1.2em;
	padding : 10px;
	border-radius: 5px;
}

