@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


body {
		font-family: Kode Mono, sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		margin: 0;
		background-color: #f0f0f0;
}

#reader {
		margin-top: 10px;
		width: 300px;
		height: 225px;
		border: 1px solid black;
		height: auto;
}

#result {
		font-size: 1.2em;
		border-radius : 10px;
		padding : 10px; 
		background: #CCC;
}

#div-risultato {
	display : flex;
	justify-content : center;
	align-items : center;
}

#btnReturn {
	margin-top: 20px;
	font-size : 1.2em;
	padding : 10px;
	border-radius: 5px;
}

#info {
	background : #333;
	color : #CCC;
	padding : 20px;
	border-radius : 20px;
	box-shadow : 0 0 10px #CCC inset;
	text-align: center;
	font-size : 1em;
}

